.bg-primary {
    background-color: #ec9488 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fafbfd;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ebd6b1;
}

.navbar-dark .navbar-brand {
    color: #fafbfd;
}

#navbarTogglerDemo03 > form > button {
    color: #fafbfd;
    border-color: #fafbfd;
}

#navbarTogglerDemo03 > form > button:hover {
    background-color: #ebd6b1;
}